@import "tailwindcss";

@theme {
  --color-main-color: #030213;
  --color-second-color: #dbdbdc;
  --color-input: #f3f3f5;
  --color-gray-content: #717182;
  --color-custom-red: #d51f43;
  --font-mono: "Liberation Mono", monospace;
}
